.announcement-bar {
  background-color: black;
  color: white;
  overflow: hidden;
  height: 2.1rem;
  display: flex;
  align-items: center;
  font-family: 'inika', sans-serif;
  font-size: 1rem;
}


.scroll-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-text {
  display: inline-flex;
  animation: scroll-left 35s linear infinite;
  transform: translateX(0);
}

.scroll-text span {
  white-space: nowrap;
  padding: 0 5rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}