.header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
 height: 80px;
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

.nav-list li {
  cursor: pointer;
  font-size: 20px;
  left: 80px;
  display: flex;
}


.link-libro {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #2e7d32;
  font-weight: bold;
  transition: color 0.3s;
  margin-left: -190px; /* mueve todo hacia la izquierda */
}


.link-libro:hover {
  color: #1b5e20;
}

.link-libro i {
  font-size: 16px;
}
