html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contenedor-principal-index {
  width: 80%;
  margin: 0 auto; /* Esto centra el elemento horizontalmente */
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center; /* Cambia de flex-start a center */
  background-color: #ffffff;
}

.contenedor-index {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1%;
  align-items: center;
}

.contenedor-card {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1%;
}

.contenedor-principal-two-colomns {
  margin-left: 10%;
  margin-right: 10%;
}
