html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contenedor-principal-index {
  width: 80%; /* Ajusta este valor según lo necesites */
  margin: 0 auto; /* Esto centra el elemento horizontalmente */
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center; /* Cambia de flex-start a center */
  background-color: #ffffff;
}

.contenedor-index {
  width: 20%; /* Ocupa el 20% del espacio horizontal, ajusta según necesites */
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1%;
  align-items: center;
  height: 100%; /* Ocupa toda la altura del contenedor principal */
}

.contenedor-card {
  height: 100%; /* Ocupa toda la altura del contenedor principal */
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1%;
}
