.btn-list {
  padding: 0;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
}

.btn-container {
  position: relative;
  display: flex; /* Alinea los elementos internos horizontalmente */
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.btn-item {
  padding: 10px 20px;
  background-color: #c7bebe;
  width: 100%;
  cursor: pointer;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  transition: background-color 0.3s ease;
  text-align: left;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-item.selected {
  background-color: #2e7d32;
  color: white;
  border-color: #153a1a;
}

/* Estilos del texto que se desliza */
.hover-text {
  position: absolute;
  top: 50%;
  left: 100%; /* Lo colocamos en el borde izquierdo del contenedor */
  transform: translate(0, -50%) translateX(-100%); /* Lo movemos fuera de la pantalla a la izquierda */

  background-color: #85be44;
  color: rgb(44, 38, 38);
  padding: 5px 10px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 5; /* Lo ponemos detrás para que no interfiera con el clic del botón */
  pointer-events: none;
}

/* Estado al pasar el mouse */
.btn-container:hover .hover-text.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(0, -50%) translateX(0); /* Lo regresamos a su posición, deslizando hacia adentro */
  z-index: 11;
}

.contenedor-principal ul {
  width: 5%;
  list-style: none;
  padding: 0;
  margin: 3%;
}
